.App {
  padding: 4rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  outline: none;
  width: 100%;
  border: 1px solid grey;
  font-size: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}
